@{
    ViewData["Title"] = "Bean Scene Home Page";
}

@section AboveNavbar {
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">
            <img class="mx-lg-auto d-block" src="~/assets/img/bs.svg" alt="Bean Scene logo" />
        </span>
        <span class="site-heading-lower">Bean Scene</span>
    </h1>
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/assets/img/intro.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fresh Coffee</span>
                    <span class="section-heading-lower">Great Food</span>
                </h2>
                <p class="mb-3">Whether you're coming in for your morning brew or enjoying one of our incredible dishes made with locally sourced ingredients, we can guarantee that you will walk away with a smile!</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="~/Reservation">Make Reservation</a></div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">When you walk into our restaurant, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
                </div>
            </div>
        </div>
    </div>
</section>



