@{
    ViewData["Title"] = "Meet the Team";
}
<h1>@ViewData["Title"]</h1>

<h2>Tom Neil</h2>
<p>Graduated from TAFE as a Software Developer, Tom is passionate about full stack development, data security and building simulations for fun.</p>
<h2>Shota Hirokawa</h2>
<p>Graduated from TAFE as Software Developer, Shota is passionate about text...</p>
<h2>Jorge Palma</h2>
<p>Graduated from TAFE as Software Developer, Jorge is passionate about building computers, PC Gaming, hiking and experiencing cultures through travel & food. I see myself working on the backend part of Software Development, acknowledging that frontend is also paramount. You may find & connect with me through LinkedIn: https://www.linkedin.com/in/jorge-andres-palma-prieto-b55484125/</p>
