@{
    ViewData["Title"] = "Bean Scene - Calendar";
}

<h1>Sittings Calendar</h1>

@if (User.IsInRole("Manager"))
{
    <!-- Button trigger modal -->
    <button id="CreateSittingBtn" type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#CreateSittingModal">
        Create Sittings
    </button>
    <button id="CreateTypeModalBtn" type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#CreateSittingTypeModal">
        Create Sitting Type
    </button>
}

<button id="ViewAllBtn" class="btn btn-primary my-2">View All Reservations</button>

<!-- Modal -->
<div class="modal fade" id="CreateSittingModal" tabindex="-1" aria-labelledby="CreateSittingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <form id="CreateForm">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CreateSittingModalLabel">Create New Sittings</h1>
                    <button type="button" class="btn-close my-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Sittings will be created matching the entered details on the selected weekdays between the entered Batch Start and Batch End dates.</p>
                    <div class="form-group">
                        <label for="sName">Sitting Name</label>
                        <input type="text" class="form-control" id="sName" placeholder="Enter sitting name" required>
                    </div>
                    <div class="form-group">
                        <label for="sBatchEndDate">Sitting Type</label>
                        <select id="sType" class="form-select" required></select>
                    </div>
                    <div class="form-group">
                        <label for="sCapacity">Sitting Capacity</label>
                        <input type="number" min="1" class="form-control" id="sCapacity" required>
                    </div>
                    <div class="form-group">
                        <label for="sStart">Sitting Start Time</label>
                        <input type="time" class="form-control" id="sStart" required>
                    </div>
                    <div class="form-group">
                        <label for="sEnd">Sitting End Time</label>
                        <input type="time" class="form-control" id="sEnd" required>
                    </div>
                    <div class="form-group">
                        <label for="sBatchStartDate">Batch Start Date</label>
                        <input type="date" class="form-control" id="sBatchStartDate" required>
                    </div>
                    <div class="form-group">
                        <label for="sBatchEndDate">Batch End Date</label>
                        <input type="date" class="form-control" id="sBatchEndDate" required>
                    </div>
                    <section id="sDaysOfWeek">
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="mondayCheckbox" value="Monday">
                                    <label class="form-check-label" for="mondayCheckbox">Monday</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="tuesdayCheckbox" value="Tuesday">
                                    <label class="form-check-label" for="tuesdayCheckbox">Tuesday</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="wednesdayCheckbox" value="Wednesday">
                                    <label class="form-check-label" for="wednesdayCheckbox">Wednesday</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="thursdayCheckbox" value="Thursday">
                                    <label class="form-check-label" for="thursdayCheckbox">Thursday</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="fridayCheckbox" value="Friday">
                                    <label class="form-check-label" for="fridayCheckbox">Friday</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="saturdayCheckbox" value="Saturday">
                                    <label class="form-check-label" for="saturdayCheckbox">Saturday</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sundayCheckbox" value="Sunday">
                                    <label class="form-check-label" for="sundayCheckbox">Sunday</label>
                                </div>
                            </div>
                        </div>
                    </section>

                    

                    <p>
                        <input type="checkbox" class="btn-check" id="sActive">
                        <label class="btn btn-outline-primary my-2" for="sActive">Active</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary my-2" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary my-2">Create</button>
                </div>
                </form>


        </div>
    </div>
</div>

<div class="modal fade" id="CreateSittingTypeModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="CreateSittingTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CreateSittingTypeModalLabel">Create Sitting Type</h1>
                <button type="button" class="btn-close my-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Sitting Type Name: <input id="typeName" type="text" name="sittingName" required /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary my-2" data-bs-toggle="modal">Close</button>
                <button id="CreateTypeBtn" type="submit" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#CreateSittingModal">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SittingModal" tabindex="-1" aria-labelledby="SittingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SittingModalLabel">Sitting Details</h1>
                    <button type="button" class="btn-close my-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Sitting Name: <span id="title"></span></p>
                    <p>Date: <span id="date"></span></p>
                    <p>Time: <span id="time"></span></p>
                    <p>Capacity: <span id="capacity"></span></p>

                    <input type="checkbox" class="btn-check" id="active" autocomplete="off">
                    <label class="btn btn-outline-primary my-2" for="active">Active</label>

                    <p>Reservations: <span id="reservations"></span></p>
                    <button id="ViewBtn" class="btn btn-primary">View Reservations</button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Edit</button>
                    <button id="DeleteBtn" class="btn btn-danger my-2">Delete</button>
                    <button class="btn btn-secondary my-2" data-bs-dismiss="modal">Close</button>
                </div>

        </div>
    </div>
</div>

<div id='calendar' class="bg-body bg-opacity-75 p-3 rounded my-2"></div>

@section Scripts{
    <script src="~/lib/full-calender/dist/index.global.js"></script>
    <script src="~/js/management.calendar.index.js"></script>
}